* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.MuiDrawer-root {
  background-color: rgba(100, 100, 100, 0.4)!important;
}
.MuiBackdrop-root {
  background-color: transparent!important;
}
.MuiDrawer-paper {
  background-color: transparent!important;
  box-shadow: none!important;
}